body {
  margin: 0;
  background-color: #eeeeee;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAAAAAA6fptVAAAACXBIWXMAAAsTAAALEwEAmpwYAAAACklEQVQIHWP4DwABAQEANl9ngAAAAABJRU5ErkJggg==);
  background-repeat: repeat-x;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.addWatchList {
  position: absolute;
  top: 80%;
  left: 35%;
}

#navbar {
  position: fixed;
  width: 100%;
  height: 10%;
  left: 0px;
  top: 0px;
  background: #222831;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 0 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.animelist-header {
  position: relative;
  width: 189px;
  left: 20px;
  height: 42px;
  font-family: "Rammetto One", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 42px;
  text-decoration: none;
  color: #eeeeee;
  margin-left: 20px;
}

.user {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

.userImg {
  position: relative;
  width: 33px;
  height: 33px;
  left: 1135px;
  top: -70px;
  border-radius: 50%;
}

.username {
  position: relative;
  width: 500px;
  height: 21px;
  left: 1140px;
  top: -79px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 21px;
  /* identical to box height */
  color: #eeeeee;
  display: inline-flex;
  font-family: "Smooch Sans", sans-serif;
}

.dropbtn {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #222831;
  top: -2px;
  border: none;
  cursor: pointer;
}

.dropbtn svg {
  position: relative;
  width: 10px;
  height: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.top-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  table-layout: fixed;
  position: relative;
  width: 1300px;
  height: 750px;
  margin: auto;
  margin-top: 200px;
  background-color: #393e46;
  border-color: black;
  border-style: solid;
  border-width: 0 1px 1px;
  padding: 5px 10px 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.top-content-header {
  background-color: #00adb5;
  height: 50px;
  width: 100%;
  display: flex;
  align-content: space-between;
  font-family: "Rammetto One", cursive;
  border-style: solid;
  border-color: #364f6b;
}

.top-anime-card-list::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.top-anime-card-list::-webkit-scrollbar-track {
  background: #eeeeee; /* color of the tracking area */
}

.top-anime-card-list::-webkit-scrollbar-thumb {
  background-color: #00adb5; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #eeeeee; /* creates padding around scroll thumb */
}

.top-content-header h1 {
  position: relative;
  top: -20px;
  color: #eeeeee;
  margin-left: 40px;
}

.form {
  position: absolute;
  top: 100px;
  padding: 0 0 0 8.3%;
}

.form input {
  position: absolute;
  width: 1190px;
  height: 54px;
  background: #ececec;
  mix-blend-mode: darken;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.form button {
  position: absolute;
  width: 59px;
  height: 59px;
  left: 1330px;
  border-radius: 5px;
  cursor: pointer;
}

.card {
  position: relative;
  width: 280px;
  height: 320px;
  font-size: 12px;
  display: inline-block;
  flex: 0 0 auto;
  margin: 10px 10px 50px 10px;
  border-style: solid;
}



.card--image {
  width: 100%;
  height: 320px;
  cursor: pointer;
  opacity: 0.9;
}

.card--image:hover {
  opacity: 1;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}

.singleitem {
  position: relative;
  padding: 10px 20px 10px 20px;
  display: flex;
  border-style: double;
  height: 250px;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}
.singleitem img {
  height: 210px;
  width: 140px;
  padding: 30px 20px 10px 10px;
  cursor: pointer;
  opacity: 0.9;
}

.singleitem img:hover{
  opacity: 1;
}

.singleitem h1 {
  cursor: pointer;
  font-family: 'Fredoka', sans-serif;
  color:#222831;
}

.singleitem h2{
  margin-top: -10px;
  font-size: 20px;
  color:#393E46;
}

.singleWatchitem {
  position: relative;
  padding: 10px 20px 10px 20px;
  display: flex;
  border-style: double;
  height: 200px;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  top: 100px;
}
.singleWatchitem img {
  height: 170px;
  width: 120px;
  padding: 10px 20px 10px 10px;
  cursor: pointer;
}

.singleWatchitem h1 {
  cursor: pointer;
}

.displayResult {
  position: relative;
  top: 120px;
}

.singlecard-h1 {
  position: relative;
  top: 200px;
}

.Anime-title {
  text-decoration: none;
  font-size: 20px;
  font-family: "Fredoka", sans-serif;
  color: #eeeeee;
}

.Anime-title:visited {
  color: #eeeeee;
}

.linkhome {
  position: absolute;
  top: 200px;
}

.singleContent {
  position: relative;
  width: 90%;
  height: 739px;
  top: 143px;
  margin: auto;
  border-style: solid;
  border-color: #393e46;
}

.TitleDiv {
  position: absolute;
  width: 100%;
  height: 75px;
  background-color: #00adb5;
}

.titleAnime {
  position: absolute;
  width: 100%;
  top: -20px;
  font-size: 33px;
  padding-left: 10px;
  font-family: "Fredoka", sans-serif;
  color: #222831;
}

.subtitle {
  position: absolute;
  top: 20px;
  width: 100%;
  font-size: 19px;
  padding-left: 10px;
  font-family: 'Fredoka', sans-serif;
  color:#393E46;
}

.contentDiv {
  display: flex;
  margin-left: 20px;
  width: 100%;
  justify-content: space-around;
}

.imgAnime {
  position: absolute;
  width: 30%;
  height: 571px;
  left: 30px;
  top: 110px;
}

.ratingdetail {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 60%;
  top: 15%;
  left: 35%;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.syn {
  position: absolute;
  width: 60%;
  top: 250px;
  left: 35%;
  width: 800px;
}

.syn h1{
  font-family: 'Roboto Condensed', sans-serif;
}

.syn p {
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

.score {
  text-align: center;
}

.scoreanime{
  background-color: #00adb5;
  border-radius: 4px;
  width: 60px;
  margin-left: 15%;
  margin-bottom: 20%;
}

.score h1 {
  margin: -20px 0px -20px 0px;
}

.vl {
  border-left: 2px solid #bf9270;
  height: 70px;
}

.top-anime-card-list {
  height: 700px;
  overflow-y: auto;
}

.singleitem .details p {
  margin: 0px 0px 0px 0px;
  font-family: 'Fredoka', sans-serif;
  padding-bottom: 10px;
}

.login-page {
  position: absolute;
  left: 400px;
  top: 170px;
  height: 60%;
  width: 50%;
  text-align: center;
  background-color: #bf9270;
  border-radius: 20px;
}

.logo {
  position: absolute;
  width: 40%;
  height: 60%;
  left: 205px;
}

.headdsc {
  position: absolute;
  top: 210px;
  left: 120px;
}

.headdsc h1 {
  color: #ffeddb;
}
.headdsc p {
  color: #ffeddb;
  margin-top: -10px;
}

.loginbtn {
  position: absolute;
  top: 320px;
  left: 260px;
}

.btnforl {
  width: 230px;
  height: 40px;
  font-size: 17px;
}

.glogo {
  position: relative;
  width: 22px;
  left: -15px;
  top: 3px;
}

.watchlistitem {
  margin-top: 100px;
}


.addWatchList button {
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	color: black;
	background: white;
	border: 2px solid black;
	box-shadow: 5px 5px 0 black,
		-5px -5px 0 black,
		-5px 5px 0 black,
		5px -5px 0 black;
	transition: 500ms ease-in-out;
}

.addWatchList button:hover {
	box-shadow: 20px 5px 0 black, -20px -5px 0 black;
}

.addWatchList button:focus {
	outline: none;
}

.searchBigTitle{
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 3%;
  color: #222831;
  font-size: 45px;
}

.removeList{
  position: absolute;
  top:0%;
  right: 0%;
  background-color: #393E46;
}


